@import "../../style/scss/mixins.scss";

.header {
  width: 100%;
  padding: 5px 0 7px;
  text-align: center;
}
.date {
  font-size: 1rem;
  text-transform: uppercase;
  color: $blue;
  font-weight: 500;
  position: relative;
  left: 13px;
  display: inline-block;

  &:before{
    content: "";
    position: absolute;
    left: -25px;
    top: 1px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../../style/icons/calendar.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    opacity: 0.6;
  }
  
  @media screen and (max-width: $width-s) {
    display: inline-block;
    height: 21px;
    border-bottom: 1px solid $gray;
    cursor: pointer;
  }
}
.body {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.footer{
  border-top: 1px solid $gray;
  width: 100%;
  position: absolute;
  padding: initial;
  bottom: 0;
}
