@import "../../style/scss/mixins.scss";

.row {
  display: flex;
  position: relative;
  transition: 0.5s;
}
.row_slide {
  @media screen and (max-width: $width-s) {
    transform: translateX(calc(-100% - 25px));
    transition: 0.5s;
  }
  @media screen and (max-width: $width-xs) {
    transform: translateX(calc(-100% - 20px));
    transition: 0.5s;
  }
}
.column {
  display: flex;
  width: 50%;
  height: auto;
  flex-grow: 1;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: $width-s) {
    margin-right: 10px;
  }
  @media screen and (max-width: $width-xs) {
    margin-right: 5px;
  }
}
.column_fg {
  width: auto;
  flex-grow: 0;

  @media screen and (max-width: $width-s) {
    flex-grow: 1;
  }
}
.column-nutrie,
.column-dp {
  @media screen and (max-width: $width-s) {
    min-width: 100%;
  }
}
.column-dp {
  height: fit-content;
}
.column-nutrie {
  @media screen and (max-width: $width-s) {
    margin-right: 25px;
  }
  @media screen and (max-width: $width-xs) {
    margin-right: 20px;
  }
}
.row-btn {
  padding: 0 15px;
  margin-bottom: 12px;

  @media screen and (max-width: $width-m) {
    padding: 0 10px;
  }
  @media screen and (max-width: $width-s) {
    padding: 0;
    justify-content: flex-end;
  }
}
.btn {
  position: relative;
  border: none;
  border-radius: 12px;
  height: 40px;
  line-height: 41px;
  padding: 0 15px;
  cursor: pointer;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: rgb(128, 128, 128);
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.8px;
  margin-right: 5px;

  &:hover {
    color: $nav-color;
  }
  &:focus-visible {
    outline: none;
  }
  &:last-child {
    margin-right: 0;
  }
  @media screen and (max-width: $width-xs) {
    font-size: 0.625rem;
  }
}
.products {
  position: absolute;
  right: 2px;
  top: 2px;
  border-radius: 9px;
  width: 20px;
  height: 20px;
  background-color: #2a9d8f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flip {
  width: 100%;
  height: 100%;
  position: relative;
}
.front,
.back {
  width: 100%;
  height: calc(100% - 20px);
  transition: 0.5s;
}
.front {
  position: relative;
  z-index: 1;
  opacity: 1;
}
.front_flip {
  transform: rotateY(180deg);
  opacity: 0;
  z-index: 0;
}
.back {
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  opacity: 0;
}
.back_flip {
  transform: rotateY(0);
  opacity: 1;
  z-index: 1;
}
.datepicker-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 12px;
}
.form {
  display: inline-block;
  height: 34px;
  margin-left: 5px;
}
input[type="number"] {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: $bg-color;
  border: 1px solid $gray;
  border-radius: 9px;
  color: $blue;
  width: 55px;
  height: 80%;
  font-size: 0.8125rem;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;

  &:focus {
    border: 1px solid $gray-input-border;
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
