@use "sass:map";
@import "../../style/scss/mixins.scss";

.td {
  padding: 5px 12px;
  height: 1px;
}
.tr {
  display: inline-table;
  width: 100%;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;

  &:after {
    position: absolute;
    content: "";
    width: 91%;
    height: 1px;
    background-color: $gray-hover-light;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    border-radius: 12px;
    background-color: rgba(211, 211, 211, 0.1);
    transition: 0.3s;

    &:after {
      content: none;
    }
  }
  @media screen and (max-width: $width-s) {
    &:hover {
      background-color: transparent;

      &:after {
        position: absolute;
        content: "";
        width: 91%;
        height: 1px;
        background-color: $gray-hover-light;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &:last-child {
    &:after {
      content: none;
    }
  }
}
.tr_active {
  background-color: rgba(211, 211, 211, 0.2);
  margin-bottom: 3px;

  &:hover {
    background-color: rgba(211, 211, 211, 0.2);
    &:after {
      content: none;
    }
  }
  &:after {
    content: none;
  }
}
.tr_cursordefault{
  cursor: default;
}
.bgy-list {
  font-size: 0.625rem;
  border-left: 10px solid transparent;
}
.bgy-item {
  position: relative;
  width: 25px;
  border: none;
  text-align: center;
  letter-spacing: 0;

  &:after {
    position: absolute;
    content: "-";
    font-size: 8px;
    letter-spacing: 0;
    right: -3px;
    color: black;
  }

  &:last-child {
    &:after {
      content: none;
    }
  }
}
.weight-wrapper {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  justify-content: space-between;
  height: 100%;
}
.weight {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

@each $name, $color in $colors-gbyk {
  $i: index($colors-gbyk, $color);
  .bgy-#{$name} {
    color: $color;
  }
}
.kkal {
  font-size: 0.625rem;
  color: map.get($colors-gbyk, kkal);
}
